.git
.gitignore
.venv
__pycache__
*.py[cod]
.DS_Store
.env
.mypy_cache
.ruff_cache
.pytest_cache
htmlcov
.coverage*
notebooks
references
reports
data/raw/*
data/interim/*
data/processed/*
data/external/*
models/*
!data/**/.gitkeep
!models/**/.gitkeep
